body{
  background-color: #090909;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #DAA520;
    border-radius: 10px;
}


.navnav{
  background-color: rgb(160, 35, 52);
}

.brandName{
  width: 20%;
  height: 20%;
  margin-left: 10px;
}

/* How the grid worked: */
.goal-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  max-height: 90vh; /* Adjust this value as needed */
  box-sizing: border-box;
  scrollbar-gutter: stable;
  z-index: 1;
}

.goal-item {
  background-color: #DAA520; /* Adjust the color as needed */
  color: rgb(24,24,24); /* Adjust the color as needed */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* This will align items horizontally */
  align-items: center; /* This will align items vertically */
  width: 100%; /* Let the width be determined by the container */
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.no-click {
  pointer-events: none;
}

.goal-text{
  user-select: none;
  margin: 0;
  color: rgb(24,24,24);
  flex-grow: 1; /* Allow the text to grow */
}

.goal-menu {
  margin-left: 10px; /* Adjust this value to add spacing between text and menu */
  z-index: 2004;
}

.goal-menu .dropdown-menu {
  z-index: 1050; /* Ensures the dropdown is above the tooltip */
}

.goal-item-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox{
  height: 25px;
  width: 25px;
}

.strikethrough{
  text-decoration: line-through;
}

/* How the text limits two lines: */
.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; /* Break long words */
  overflow-wrap: break-word; /* Handle word breaking */
}

/* How tooltip appears */
.ToolTipText{
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: -50px; /* Adjust this value to move the tooltip above the toolTip div */
  transform: translateX(-50%);
  background-color: white;
  text-align: center;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 10px;
  transition: opacity 0.15s ease, visibility 0.15s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 10; /* Ensure the tooltip is above other elements */
}

.toolTip{
  position: relative;
  cursor: pointer;
}

.toolTip:hover .ToolTipText{
  visibility: visible;
  opacity: 1;
}

/* dropdown */

.drpdwn{
  position: relative;
}

.drpdwn:hover{
  background-color: green;
}

.drpdwn-menu{
  display: none;
  position: absolute;
  background-color: whitesmoke;
  z-index: 1;
  padding: 10px;
  right: 0;
  top: -7px;
  border-radius: 10px;
}

.drpdwn-menu a:hover{
  background-color: gold;
}

.showTheDrpdwn{
  display: block;
}

.remove{
  display: none;
}

.Renaming{
  background-color: white;
  position: absolute;
  left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 2006;
}

.editingYear{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  padding: 15px;
  flex-direction: column;
  border-radius: 15px;
  gap: 10px;
  z-index: 2007;
}

.editYearButtons{
  display: flex;
}

.toDel{
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  padding: 15px;
  flex-direction: column;
  border-radius: 15px;
  gap: 10px;
  z-index: 2005;
}

/* Videos: */
.vidSec{
  display: flex;
  justify-content: center;
}
